.register-container {
     max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.register-header {
  margin-bottom: 30px;
}

.project-title {
      color: #00CED1;
    font-size: 2.2rem;
    font-weight: 900;
    margin: 10px;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.register-subtitle {
  color: #001a36;
  font-size: 22px;
  margin-bottom: 20px;
  border-bottom: 2px solid #00CED1;
  padding-bottom: 10px; 
}
.register-title {
  color: #001a36;
  font-size: 27px;
  margin-bottom: 20px;
  border-bottom: 2px solid #00CED1;
  padding-bottom: 10px;
}

.register-form {
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 20px;
  text-align: right;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: 700;
  font-size: 16px;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #001a36;
  border-radius: 30px;
  font-size: 16px;
  transition: border-color 0.3s;
  direction: rtl;
  text-align: right;
}

.input-group input:focus {
  border-color: #001a36;
  outline: none;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
}



.register-button {
  width: 100%;
  padding: 14px;
  background-color: #001a36;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #00CED1;
}

.login-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #00EDC1;
}

.login-text {
  color: #002147;
  margin-bottom: 7px;
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: 'Segoe UI', sans-serif;
}

.login-link {
  display: inline-block;
  padding: 10px 30px;
  background-color: #001a36;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.login-link:hover {
  background-color: #00CED1;
}

/* Responsive design */
@media (max-width: 480px) {
  .register-container {
    margin: 20px;
    padding: 20px;
  }

  .project-title {
    font-size: 24px;
  }

  .register-title {
    font-size: 20px;
  }
}
